* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/TvShow.jpg') center no-repeat;
  background-size: cover;
}

.searchBox {
  background-color: rgba(56, 60, 68, 0.3);
  border-radius: 10px;
  max-width: 260px;
  width: 260px;
  padding: 8px;
  margin-bottom: 215px;
}

.grid {
  display: none;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: 270px 270px 270px 5px;
  justify-content: center;
  gap: 35px;
  margin-left: 20px;
}

.span {
  position: relative;
  bottom: 150px;
  left: 65px;
  color: white;
  background-color: rgb(25, 0, 255);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.frame {
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  width: 55px;
}

.btnGroup {
  width: 223px;
  text-align: end;
}

/* Media Query */

@media (max-width: 990px) {
  .grid {
    grid-template-columns: repeat(2, 102px);
    grid-template-rows: 158px 158px 158px 158px 10px;
    margin-left: -18px;
  }

  .frame {
    height: 180px;
  }

  .span {
    bottom: 100px;
    left: 33px;
    font-size: small;
    padding: 7px;
    border-radius: 10px;
  }

  .searchBox {
    margin-bottom: 25px;
  }

  body {
    min-height: 100dvh;
  }
}
