html {
  scroll-behavior: smooth;
}
body {
  background-image: url('./img/TvShow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.searchBox{
  opacity: 0.9;
    border-radius: 10px;
    max-width: 260px;
    padding: 15px;
    margin-bottom: 165px;
}
.grid {
  display: none;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: 275px 275px 275px 10px;
  justify-content: center;
  gap: 35px;
  margin-left: 20px;
}
.span {
  position: relative;
  bottom: 150px;
  left: 65px;
  color: white;
  background-color: rgb(25, 0, 255);
  padding: 10px;
  border-radius: 15px;
}
.frame {
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* Media Query */

@media (max-width: 990px) {
  .grid{
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 158px 158px 158px 10px;
  }
  .frame{
    height: 180px;
  }
  .span{
    bottom: 100px;
    left: 33px;
    font-size: small;
    padding: 7px;
    border-radius: 10px;
  }
  .searchBox{
    margin-bottom: 25px;
  }
}