* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 105, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

article {
  background-color: white;
  padding: 28px;
  border-radius: 15px;
}

header {
  height: 40px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

aside {
  position: absolute;
  padding: 10px;
  background-color: black;
  border-radius: 12px;
}

.home-page {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.error{
   background-color: white;
   padding: 25px;
   border-radius: 25px;
   font-family: cursive;
   font-size: x-large;
}

/* Media Query */

@media (max-width: 990px) {
 .error{
  font-size: large;
 }
 main{
  display: block;
  padding: 50px 0px;
 }
 aside{
  font-size: x-small;
  padding: 5px;
  border-radius: 8px;
 }
}

@media (min-width: 990px) {
 main{
  height: 100vh;
 }
}