* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100dvh;
  background-image: url('../main/assets/FavoriteBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article {
  background-color: white;
  padding: 20px 10px 5px 10px;
  border-radius: 15px;
  position: absolute;
  top: 85px;
  right: 345px;
  border: 1px solid black;
}

header {
  height: 40px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

aside {
  position: absolute;
  background-color: black;
}

.link {
  color: white;
  text-decoration: none;
  font-family: auto;
  text-decoration: none;
}

/* Media Query */

@media (max-width: 990px) {
  article {
    position: static;
  }
}
